@model TST.Web.Models.LoginViewModel
@inject Common.Resources rss
@{
    var rs = rss.Load();

    ViewData["Title"] = rs["Login"];
}

<section>
    <div class="wm wm-border dark wow fadeInDown">@ViewData["Title"]</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                <h1>@ViewData["Title"]</h1>
                <div class="separator"><span><i class="fa fa-square"></i></span></div>
            </div>

            <div class="col-md-8 offset-md-2 wow fadeInUp">
                <form id="contact_form" method="post">
                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <input type="text" asp-for="Username" class="form-control" placeholder="@rs["Username"]">
                            <span asp-validation-for="Username" class="text-red ms-2"></span>
                        </div>
                        <div class="offset-md-3 col-md-6">
                            <input type="password" asp-for="Password" class="form-control" placeholder="@rs["Password"]">
                            <span asp-validation-for="Password" class="text-red ms-2"></span>
                        </div>
                        <div class="spacer-single"></div>
                        <div class="col-md-12 text-center">
                            <p id="submit">
                                <input type="submit" value="@rs["Login"]" class="btn btn-line">
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
