@model TST.DataAccess.Entities.ApplicationUser

@inject Common.Resources rss
@{
    Layout = "~/Views/Shared/_BofLayout.cshtml";
    var rs = rss.Load();
    ViewData["Title"] = rs["User"];
}

<h2 class="text-center">@ViewData["User"]</h2>

<div class="row section-search mb-3">
    <div class="col-md-3">
        <div class="input-group ">
            <input type="text" id="Name" class="form-control" placeholder="@rs["Keyword"]" />
            <a onclick="onSearch()" class="btn btn-outline-secondary"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="col-md-8 text-end">
    </div>
    <div class="col-md-1 text-end">
        <a onclick="modalAdd()" class="btn btn-success"><i class="fa fa-plus"></i></a>
    </div>
</div>

<div style="overflow-x: auto">
    <table class="display mt-1 " id="dt1" style="width: 100%">
        <thead>
            <tr>
                <th class="text-start">@rs["User"]</th>
                <th class="text-start">@rs["FirstName"] En</th>
                <th class="text-start">@rs["LastName"] En</th>
                <th class="text-start">@rs["FirstName"] Th</th>
                <th class="text-start">@rs["LastName"] Th</th>
                <th class="text-center">@rs["Active"]</th>
                <th class="text-center">@rs["SavedBy"]</th>
                <th class="text-center">@rs["SavedDate"]</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" id="modal1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form1">
                    <input type="hidden" asp-for="Id" />
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <label class="form-label">@rs["Username"]</label>
                            <input type="text" asp-for="UserName" class="form-control" maxlength="15" required />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-6">
                            <label class="form-label">@rs["FirstName"] EN</label>
                            <input type="text" asp-for="FirstNameEn" class="form-control" maxlength="30" required />
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">@rs["LastName"] EN</label>
                            <input type="text" asp-for="LastNameEn" class="form-control" maxlength="30" required />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-lg-6">
                            <label class="form-label">@rs["FirstName"] TH</label>
                            <input type="text" asp-for="FirstNameTh" class="form-control" maxlength="30" required />
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">@rs["LastName"] TH</label>
                            <input type="text" asp-for="LastNameTh" class="form-control" maxlength="30" required />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-lg-6">
                            <label class="form-label">@rs["Password"]</label>
                            <input type="password" asp-for="Password" class="form-control" maxlength="20" />
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">@rs["Confirm"] @rs["Password"] </label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" maxlength="20" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" asp-for="IsActive">
                                <label class="form-check-label">@rs["Active"]</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="">@rs["Close"]</button>
                <button id="btnSave" type="button" class="btn btn-success" style="">@rs["Save"]</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        onSearch = () => $("#dt1").DataTable().ajax.reload()

        const modal1 = new bootstrap.Modal('#modal1', {
        })

        let validator = $("#form1").validate({
            rules: {
                Password: {
                    minlength: 6,
                    maxlength: 20,
                },
                ConfirmPassword: {
                    equalTo: "#Password"
                }
            },
            messages: {
                ConfirmPassword: {
                    equalTo: "Password does not match"
                }
            }
        })

        $(function () {
            dropifyInit()

            new DataTable("#dt1", {
                displayLength: 100,
                filter: false,
                lengthChange: false,
                processing: true,
                serverSide: true,
                order: [],
                ajax: {
                    url: "@Url.Action("GetUser", "BofUser")",
                    data: function (d) {
                        d.orderName = d.order[0] != undefined ? d.columns[d.order[0].column].data : ''
                        d.orderType = d.order[0] != undefined ? d.order[0].dir : ''
                        d.Name = $.trim($("#Name").val())
                    }
                },
                columns: [
                    { data: "UserName", sortable: false, className: 'text-start' },
                    { data: "FirstNameEn", sortable: false, className: 'text-start' },
                    { data: "LastNameEn", sortable: false, className: 'text-start' },
                    { data: "FirstNameTh", sortable: false, className: 'text-start' },
                    { data: "LastNameTh", sortable: false, className: 'text-start' },
                    {
                        data: "IsActive",
                        sortable: false,
                        className: 'text-center',
                        render: function (status) {
                            return status ? "<i class='fa fa-check text-success'></i>" : "<i class='fa fa-ban text-danger'></i>";
                        }
                    },
                    { data: "CreateBy", sortable: false, className: 'text-center', },
                    {
                        data: "CreateDate",
                        sortable: false,
                        className: 'text-center',
                        render: function (dt) {
                            return moment(dt).format("DD/MM/YYYY HH:mm")
                        }
                    },
                    {
                        data: null,
                        sortable: false,
                        className: 'text-nowrap',
                        render: function (o) {
                            let dis = '';
                            if("@User.Identity.Name" == o.UserName)
                                dis = 'disabled'

                            return "<a onclick=\"modalEdit('" + o.Id + "')\" class='btn btn-warning'><i class='fa fa-edit text-white'></i></a>" + "&nbsp" +
                                "<a onclick=\"del('" + o.Id + "','" + o.UserName + "')\" class='btn btn-danger " + dis + "'><i class='fa fa-trash'></i></a>";
                        }
                    },
                ]
            })

            $(".section-search input").keypress(function (e) {
                if (e.which == 13) {
                    onSearch()
                    return false
                }
            })

            $("#btnSave").click(function () {
                if ($("#form1").valid()) {
                    save();
                }
            });
        })

        modalAdd = () => {
            validator.resetForm()

            $("#modal1 input").val("")
            $("#UserName").removeAttr("disabled")
            $("#IsActive").prop("checked", true)
            $("#modal1 h5").text("@Html.Raw(rs["Add"]) @Html.Raw(rs["User"])")

            $("#Password").attr("required", "required")
            $("#ConfirmPassword").attr("required", "required")
            modal1.show()
        }

        modalEdit = id => {
            validator.resetForm()

            $("#Password").removeAttr("required")
            $("#ConfirmPassword").removeAttr("required")

            $.getJSON("@Url.Action("GetByUserId", "BofUser")", { userid: id }, function (data) {
                $("#Id").val(data.Id)
                $("#UserName").val(data.UserName).attr("disabled", "disabled")
                $("#FirstNameEn").val(data.FirstNameEn)
                $("#LastNameEn").val(data.LastNameEn)
                $("#FirstNameTh").val(data.FirstNameTh)
                $("#LastNameTh").val(data.LastNameTh)
                $("#IsActive").prop("checked", data.IsActive)
                $("#modal1 h5").text("@Html.Raw(rs["Edit"]) @Html.Raw(rs["User"])")
                modal1.show()
            });
        }

        save = () => {
            let data = {
                Id: $("#Id").val(),
                UserName: $.trim($("#UserName").val()),
                FirstNameEn: $.trim($("#FirstNameEn").val()),
                LastNameEn: $.trim($("#LastNameEn").val()),
                FirstNameTh: $.trim($("#FirstNameTh").val()),
                LastNameTh: $.trim($("#LastNameTh").val()),
                Password: $.trim($("#Password").val()),
                ConfirmPassword: $.trim($("#ConfirmPassword").val()),
                IsActive: $("#IsActive").is(":checked"),
            }

            $.post("@Url.Action("Save", "BofUser")", { data }, function (data) {
                if (data.Success === true) {
                    Swal.fire({
                        title: "@rs["Saved"] @rs["Successfully"]!",
                        icon: "success"
                    })
                    modal1.hide()
                    $("#dt1").DataTable().ajax.reload()
                } else {
                    Swal.fire({
                        title: data.Message,
                        icon: "warning"
                    })
                }
            })
        }

        del = (id, key) => {
            Swal.fire({
                title: "@rs["Delete"]",
                text: "@Html.Raw(rs["ConfirmDeleteMessage"]) " + key + " ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                cancelButtonColor: "#ddd",
                confirmButtonText: "@rs["Confirm"]",
                cancelButtonText: "@rs["Cancel"]"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post("@Url.Action("Delete", "BofUser")", { id: id, username: key }, function (data) {
                        if (data) {
                            Swal.fire({
                                title: "@rs["Deleted"] @rs["Successfully"]!",
                                icon: "success"
                            })

                            $("#dt1").DataTable().ajax.reload()
                        }
                    })
                }
            })
        }














































    </script>
}
